.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	text-decoration: none;
}

.HeadLinks
{
	/* margin: 1cm 2cm 1.5cm 1cm; */
	margin: 0.5cm 0.5cm 0.1cm 1cm;
}

.MainPage {
	margin: 2cm 0cm 0cm 2cm;
}

.DataBox
{
	overflow:auto;
	width:300px;
	height:700px
}

.ExpandTable
{
	width:auto;
	width:100%
}